.menu{position: relative; height: 50px; background: #757575; z-index: 100500;}

.menu img{height: 40px; padding: 10px; background: white; float: left; }
 

.top_menu{margin-left: 20px; }
.sub_menu{}
  
.top_menu li,
.sub_menu li{float: left;}

.top_menu li{ background: #757575; }

.sub_menu li{
  clear: both;
  width:100%;
  border-bottom: 1px solid #757575; 
  white-space: nowrap;
}

.sub_menu span{color: #F5F5F5;}


.menu .active_menu > a,
.menu .active_menu > span{color: #424242; background: white; text-decoration: none; cursor: default;}

.menu li{position: relative;}

.menu li:hover{background: white;}

.menu li:hover > a,
.menu li:hover > span{color: #424242;}

.menu span{cursor:default;}

.menu span,
.menu a{display: block; padding: 18px 18px 18px 18px; color: #F5F5F5;}

.menu a{text-decoration: none;}

.sub_menu{
  position: absolute;
  top: 50px;
  visibility: hidden;
  opacity: 0; 
}	

.sub_menu .sub_menu {
  margin-left: 0px;
  left: 100%;
  top: 0px;
}

.menu li:hover > .sub_menu {
  visibility: visible;
  opacity: 1;
}